---
layout: default
---

<div class="home">

	<div class="posts">
		<div class="container-fluid">
			<ul>
	    {% for post in site.posts %}
			<li>
				<a class="posts-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				<p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}</p>
				{{ post.content | strip_html | truncatewords: 50 }}
			</li>
	    {% endfor %}
	  	</ul>
	  	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
		</div>
	</div>

</div>
